<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
</head>
<body>
    <a href="/travels">Home</a>
    <a href="/logout">Logout</a>
    <h1>{{destination.destination}}</h1>
    <p>Planned by: {{destination.planner.name}}</p>
    <p>Description: {{destination.description}}</p>
    <p>Travel Date From: {{destination.TDFrom}}</p>
    <p>Travel Date To: {{destination.TDTo}}</p>
    <h2>Other Users joining the trip:</h2>
        <ul>
            {% for attendee in destination.attendee.all %}
            <li>{{attendee.name}}</li>
            {% endfor %}
        </ul>
</body>
</html>